 

    .animate__animated {
        animation-duration: 1s;
        animation-fill-mode: both;
    }

    .animate__bounce {
        animation-name: bounce;
    }

    .animate__infinite {
        animation-iteration-count: infinite;
    }

    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-30px);
        }
        60% {
            transform: translateY(-15px);
        }
    }
    
